menu "Golioth SDK Configuration"

config GOLIOTH_COAP_HOST_URI
    string "CoAP server URI"
    default "coaps://coap.golioth.io"
    help
        The URI of the CoAP server

config GOLIOTH_COAP_RESPONSE_TIMEOUT_MS
    int "CoAP response timeout"
    default 10000
    help
        Maximum time, in milliseconds, the CoAP task will block while waiting
        for a response from the server.

config GOLIOTH_COAP_REQUEST_QUEUE_TIMEOUT_MS
    int "CoAP request queue timeout"
    default 1000
    help
        Maximum time, in milliseconds, the CoAP task will block while
        waiting for something to arrive in the request queue.
        This is also how often to poll for received observations.

config GOLIOTH_COAP_REQUEST_QUEUE_MAX_ITEMS
    int "CoAP request queue max num items"
    default 20
    help
        The size, in items, of the CoAP task request queue.
        If the queue is full, any attempts to queue new messages
        will fail.

config GOLIOTH_COAP_TASK_PRIORITY
    int "Golioth CoAP task priority"
    default 5
    help
        FreeRTOS task priority of the Golioth CoAP task.

config GOLIOTH_COAP_TASK_STACK_SIZE_BYTES
    int "Golioth CoAP task stack size"
    default 8192
    help
        FreeRTOS task stack size of the Golioth CoAP task, in bytes.

config GOLIOTH_COAP_KEEPALIVE_INTERVAL_MS
    int "Golioth CoAP keepalive interval, in milliseconds"
    default 0
    help
        How often to send a "keepalive" dummy client request to the server.
        If the session is idle for this amount of time, then the keepalive
        request will be sent.
        Can be useful to keep the CoAP session active, and to mitigate
        against NAT and server timeouts.
        Set to 0 to disable.

config GOLIOTH_MAX_NUM_OBSERVATIONS
    int "Golioth CoAP maximum number observations"
    default 8
    help
        The maximum number of CoAP paths which can be simultaneously observed.

endmenu
