menu "Golioth SDK Configuration"

config GOLIOTH_COAP_HOST_URI
    string "CoAP server URI"
    default "coaps://coap.golioth.io"
    help
        The URI of the CoAP server

config GOLIOTH_COAP_RESPONSE_TIMEOUT_MS
    int "CoAP response timeout"
    default 10000
    help
        Maximum time, in milliseconds, the CoAP task will block while waiting
        for a response from the server.

config GOLIOTH_COAP_REQUEST_QUEUE_TIMEOUT_MS
    int "CoAP request queue timeout"
    default 1000
    help
        Maximum time, in milliseconds, the CoAP task will block while
        waiting for something to arrive in the request queue.

config GOLIOTH_COAP_REQUEST_QUEUE_MAX_ITEMS
    int "CoAP request queue max num items"
    default 10
    help
        The size, in items, of the CoAP task request queue.
        If the queue is full, any attempts to queue new messages
        will fail.

endmenu
